.ipynb_checkpoints
download
modules
nf_prize_dataset.tar
data.csv
data_sorted.csv
m_m_sim_sparse.npz
Netflix_Movie.ipynb
nf_prize_dataset.tar_meta.sqlite
nf_prize_dataset.tar_meta.xml
reg_test_old.csv
reg_test.csv
reg_train.csv
reg_train_old.csv
sample_test_sparse_matrix.npz
sample_train_sparse_matrix.npz
small_sample_results.csv
Suprise_extracted_FeaturePipeline.pkl
StackOverflow-SQL-Server-2010.torrent
test.csv
test_sparse_matrix.npz
train.csv
train_sparse_matrix.npz